<launch>
  <arg name="host" default="172.17.0.1" />
  <arg name="port" default="8080" />
  <arg name="scenario_dir" default="" />

  <node pkg="scenario_bridge" type="scenario_bridge.py" name="scenario_bridge"
        output="screen" respawn="true" respawn_delay="3">
    <param name="host" value="$(arg host)" />
    <param name="port" value="$(arg port)" />
    <param name="scenario_dir" value="$(arg scenario_dir)" />
  </node>
</launch>
